.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 90px;
}

.containerCep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: rgb(27, 15, 74);
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 10px;
}

h1 {
  color: white;
  border-color: white;
}

input {
  width: 500px;
  height: 40px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 20px;
}
